
  
  <div class="row justify-content-center">
    <div class="col-4 align-self-center text-center register-box">
      <div class="register-form">
      <div class="register-title">
        <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png&quot;); background-position: 0px 0px; background-size: 176px 181px; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
        </br>
        <span>Sign up to see photos and videos from your friends.</span>
      </div>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <%= f.text_field :full_name, autofocus: true, autocomplete: "full name", placeholder: "full name", class: "form-control" %>
        </div>

         <div class="input-group mb-3">
          <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
       
          <%= f.password_field :password, autocomplete: "new-password" ,placeholder: "password",  class: "form-control"%>
        </div>

        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "password confirmation", class: "form-control" %>
        </div>
         <p class="form-tips">People who use our service may have uploaded your contact information to Instagram. Learn More</p>
        <p class="form-tips">By signing up, you agree to our Terms , Privacy Policy and Cookies Policy .</p>

        <div class="d-grid">
          <%= f.submit "Sign up", class: "btn btn-primary"%>
        </div>
      <% end %>

       
       
    </div>
    </div>
  </div>

  <div class="row justify-content-center login-row">
   <div class="col-4 d-flex align-items-center text-center login-box align-middle">
   <div class="mx-auto">
      <span class="login-tips">Have a account?</span> <%= render "devise/shared/links", class: "login-link" %>
      </div>
    </div>
  </div>

